<!-- Navbar -->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark secondary-color scrolling-navbar">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#"><img src="assets/img/Em3.png" height="30" class="d-inline-block align-top" alt=""></a>
  </mdb-navbar-brand>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect [ngx-scroll-to]="'#home'">产品</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [ngx-scroll-to]="'#about'" ngx-scroll-to-offset="-90">解决方案</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [ngx-scroll-to]="'#info'" ngx-scroll-to-offset="-90">价格</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [ngx-scroll-to]="'#courses'" ngx-scroll-to-offset="">合作团队</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [ngx-scroll-to]="'#events'">支持服务</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" mdbWavesEffect> 设置
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" mdbWavesEffect> 登录
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>

<router-outlet></router-outlet>