/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css);

body, html { 
  font-family: PingFangSC-Light,helvetica neue,hiragino sans gb,arial,microsoft yahei ui,microsoft yahei,simsun,sans-serif;
}

html,
body,
header,
.jarallax {
  height: 100%;
}

@media (min-width: 560px) and (max-width: 740px) {
  html,
  body,
  header,
  .jarallax {
    height: 500px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .jarallax {
    height: 500px;
  }
}

.btn-rounded {
    -webkit-border-radius: 10em;
    border-radius: 10em;
}

.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.navbar .nav-item .nav-link {
  font-size: 0.875rem;
  padding: 0 16px;
}

.ml-auto .nav-item .nav-link {
  padding: 0 12px;
}

.home-lp .icon-area .circle-icon .circle-round {
  -webkit-box-shadow: 0 8px 19px rgba(91,154,251,.41);
  box-shadow: 0 8px 19px rgba(91,154,251,.41);
  width: 90px!important;
  height: 90px;
  padding: 1.6rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #FFF;
  margin: auto;
}

.home-lp .icon-area .circle-icon .circle-round:hover {
  background-color: rgba(156, 39, 176, 0.1);
}


.home-lp .mat-step-label {
  font-size: 1.125rem !important;
}

.home-lp .mat-step-icon {
  font-size: 1.125rem;
  height: 40px;
  width: 40px;
}
.home-lp .mat-step-header .mat-step-icon {
  background-color: rgba(0,0,0,.2);
}
.home-lp .mat-step-header .mat-step-icon.mat-step-icon-selected {
  background-color: #aa66cc;
}

.home-lp .mat-stepper-horizontal {
  background-color: inherit;
}