<header class="home-lp">
  <!--Intro Section-->
  <div id="home" class="view jarallax" data-jarallax='{"speed": 0.2}'
    style="background-image: url(assets/img/em-01.jpg); background-attachment: fixed; background-repeat: no-repeat; background-size: cover; background-position: center center; z-index: 0;">
    <div class="mask rgba-black-strong">
      <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row smooth-scroll">
          <div class="col-md-12 white-text text-center">
            <div class="wow fadeInDown" data-wow-delay="0.2s"
              style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.2s;">
              <h2 class="display-3 font-weight-bold mb-2">一栈式Web方案</h2>
              <hr class="hr-light">
              <h3 class="subtext-header mt-4 mb-5">提供各种Web SaaS服务，轻松应对各类Web使用难题</h3>
            </div>
            <a [ngx-scroll-to]="'#events'"
              class="btn btn-white text-secondary btn-rounded font-weight-bold wow fadeInLeft waves-effect waves-light"
              data-wow-delay="0.2s"
              style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.2s;">开始试用</a>
            <a [ngx-scroll-to]="'#courses'" ngx-scroll-to-offset=""
              class="btn btn-secondary btn-rounded font-weight-bold wow fadeInRight waves-effect waves-light"
              data-wow-delay="0.2s"
              style="visibility: visible; animation-name: fadeInRight; animation-delay: 0.2s;">查看更多</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="home-lp">
  <div class="container">

    <!-- Section: Features v.4 -->
    <section id="features" class="section feature-box text-center my-5">

      <!-- Section heading -->
      <h2 class="title font-weight-bold my-5 wow fadeIn" data-wow-delay="0.2s"
        style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
        <strong>功能服务</strong>
      </h2>

      <!-- Section sescription -->
      <p class="m-responsive mx-auto mb-5 wow fadeIn" data-wow-delay="0.2s"
        style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
        采用当前最新的Web前端语言和框架，运用全球最流行的Web设计布局方案，打造高颜值、高效率、自适应的网站
      </p>

      <!--Grid row-->
      <div class="row features wow fadeIn" data-wow-delay="0.2s"
        style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">

        <!--Grid column-->
        <div class="col-lg-4 text-center">
          <div class="icon-area">
            <div class="circle-icon">
              <fa-icon [icon]="['fas', 'cogs']" [classes]="['circle-round', 'text-secondary']"></fa-icon>
            </div>
            <br>
            <h5 class="dark-grey-text font-weight-bold mt-2">用户定制</h5>
            <div class="mt-1">
              <p class="mx-3 grey-text">针对客户需求进行Web方案设计、网站开发和上线，收集客户反馈，快速迭代更新</p>
            </div>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 text-center">
          <div class="icon-area">
            <div class="circle-icon">
              <fa-icon [icon]="['fas', 'book']" [classes]="['circle-round', 'text-secondary']"></fa-icon>
            </div>
            <br>
            <h5 class="dark-grey-text font-weight-bold mt-2">简单易用</h5>
            <div class="mt-1">
              <p class="mx-3 grey-text">敏捷网站设计，大量精品网站模版，覆盖各类行业，无忧网站运维</p>
            </div>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 text-center mb-4">
          <div class="icon-area">
            <div class="circle-icon">
              <fa-icon [icon]="['fas', 'users']" [classes]="['circle-round', 'text-secondary']"></fa-icon>
            </div>
            <br>
            <h5 class="dark-grey-text font-weight-bold mt-2">免费支持</h5>
            <div class="mt-1">
              <p class="mx-3 grey-text">专业团队提供免费7x24技术支持，迅速响应客户问题</p>
            </div>
          </div>
        </div>
        <!--Grid column-->

      </div>
      <!--/First row-->

    </section>
    <!-- Section: Features v.4 -->

    <hr>

    <!-- Section: About -->
    <section id="about" class="section about mt-5 mb-5 py-3 wow fadeIn" data-wow-delay="0.2s"
      style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">

      <!-- Grid row -->
      <div class="row pt-2 mt-lg-5">

        <!-- Grid column -->
        <div class="col-lg-6 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s"
          style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
          <!-- Image -->
          <img src="assets/img/em-02.png" class="img-fluid rounded" alt="My photo">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-6 ml-auto col-md-12 wow fadeIn" data-wow-delay="0.4s"
          style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

          <!-- Secion heading -->
          <h2 class="mb-5 title font-weight-bold wow fadeIn" data-wow-delay="0.2s"
            style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
            <strong>构建品牌</strong>
          </h2>

          <!-- Description -->
          <p align="justify" class="">建设精美、流行的Web主页，注入企业品牌的专有气质，在互联网世界里确立品牌位置
            高效构建Web应用，辅助品牌业务需求创新，推进品牌互联网+转型</p>
          <p class="grey-text">
            <fa-icon [icon]="['fas', 'long-arrow-alt-right']" class="fas text-secondary mr-2"></fa-icon> 设计品牌元素
          </p>
          <p class="grey-text">
            <fa-icon [icon]="['fas', 'long-arrow-alt-right']" class="fas text-secondary mr-2"></fa-icon> 创造品牌主页
          </p>
          <p class="grey-text">
            <fa-icon [icon]="['fas', 'long-arrow-alt-right']" class="fas text-secondary mr-2"></fa-icon> 优化网站搜索排名
          </p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!-- Section: About -->

    <hr>

    <!-- Section: About -->
    <section id="about" class="section about mt-5 mb-5 py-3 wow fadeIn" data-wow-delay="0.2s"
      style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">

      <!-- Grid row -->
      <div class="row pt-2 mt-lg-5">

        <!-- Grid column -->
        <div class="col-lg-6 col-md-12 mt-lg-5 mr-auto wow fadeIn" data-wow-delay="0.4s"
          style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

          <!-- Secion heading -->
          <h2 class="mb-5 title font-weight-bold wow fadeIn" data-wow-delay="0.2s"
            style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
            <strong>轻松定制</strong>
          </h2>

          <!-- Description -->
          <p align="justify" class="">基于客户对网站的不同需求，提供更合适的Web架构方案，有效降低网站的开发运维难度和整体IT成本，并保障网站的安全性和稳定性，节约大量的人力和资金投入</p>
          <p align="justify" class="">提供丰富网站设计模版，覆盖多个行业，包括软件开发、旅游、教育等，适用于各类网站开发需求</p>
          <p align="justify" class="">资深建站专家在线，一对一精准建站咨询服务，提供网站管家服务，全方位安全保障网站业务可用性</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-5 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s"
          style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
          <!-- Image -->
          <img src="assets/img/em-03.png" class="img-fluid rounded" alt="My photo">
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!-- Section: About -->

    <hr>

    <!--Section: Pricing v.5-->
    <section class="text-center my-5">

      <!--Section heading-->
      <h2 class="title font-weight-bold my-5 wow fadeIn" data-wow-delay="0.2s"
        style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
        <strong>网站解决方案</strong>
      </h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mt-5 mb-5">
          <!--Card-->
          <div class="pricing-card card">

            <!--Content-->
            <div class="card-body hoverable">
              <div>
                <h5 class="font-weight-bold mt-3">标准方案</h5>
                <div class="mt-1">
                  <p class="mx-5 grey-text">贴心建站服务，覆盖全行业，先上线后收费</p>
                </div>
              </div>
              <ul class="list-unstyled striped title darker-striped">
                <li>
                  <div class="my-5">
                    <h6 class="text-left font-weight-bold mt-3">企业单位官网</h6>
                    <p class="text-left grey-text">管家式服务，安全证书，免费备案</p>
                  </div>
                </li>
                <li>
                  <div class="my-5">
                    <h6 class="text-left font-weight-bold mt-3">精美建站模版</h6>
                    <p class="text-left grey-text">丰富建站模版，覆盖各类行业</p>
                  </div>
                </li>
                <li>
                  <div class="mt-5">
                    <h6 class="text-left font-weight-bold mt-3">小程序</h6>
                    <p class="text-left grey-text">多种行业方案，获利移动流量</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mt-5 mb-5">

          <!-- Card -->
          <div class="pricing-card card card-image hoverable" style="background-image: url('assets/img/em-04.jpg');">
            <!-- Content -->
            <!--Content-->
            <div class="card-body text-white rgba-pink-light">
              <div>
                <h5 class="font-weight-bold mt-3">进阶方案</h5>
                <div class="mt-1">
                  <p class="mx-5 text-white-90">网站部署和运行在云主机，可动态扩展</p>
                </div>
              </div>
              <ul class="list-unstyled striped">

                <li>
                  <div class="my-5">
                    <h6 class="text-left font-weight-bold mt-3">网站弹性扩展</h6>
                    <p class="text-left text-white-90">监测网站业务流量，动态扩展云主机</p>
                  </div>
                </li>
                <li>
                  <div class="my-5">
                    <h6 class="text-left font-weight-bold mt-3">网站安全护航</h6>
                    <p class="text-left text-white-90">注入安全防护技术，提高网站高可用性</p>
                  </div>
                </li>
                <li>
                  <div class="mt-5">
                    <h6 class="text-left font-weight-bold mt-3">网站启用HTTPs</h6>
                    <p class="text-left text-white-90">监管证书，网站使用TLS加密通信</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!--Card-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mt-5 mb-5">

          <!--Card-->
          <div class="pricing-card card">

            <!--Content-->
            <div class="card-body">
              <h5 class="font-weight-bold mt-3">通用方案</h5>
              <div class="mt-1">
                <p class="mx-5 grey-text">网站后端配套服务，全部方案运行在云端</p>
              </div>
              <ul class="list-unstyled striped title darker-striped">
                <li>
                  <div class="my-5">
                    <h6 class="text-left font-weight-bold mt-3">企业单位官网</h6>
                    <p class="text-left grey-text">管家式服务，安全证书，免费备案</p>
                  </div>
                </li>
                <li>
                  <div class="my-5">
                    <h6 class="text-left font-weight-bold mt-3">精美建站模版</h6>
                    <p class="text-left grey-text">丰富建站模版，覆盖各类行业</p>
                  </div>
                </li>
                <li>
                  <div class="mt-5">
                    <h6 class="text-left font-weight-bold mt-3">小程序</h6>
                    <p class="text-left grey-text">多种行业方案，获利移动流量</p>
                  </div>
                </li>
              </ul>
            </div>

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Pricing v.5-->

  </div>
  <div class="streak streak-photo streak-md"
    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/92.jpg');">
    <div class="flex-center view rgba-purple-slight">
      <div class="container py-3">

        <!--Section: Features v.4-->
        <section class="section feature-box wow fadeIn" data-wow-delay="0.2s"
          style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">

          <!--Section heading-->
          <h2 class="py-5 my-5 white-text font-weight-bold text-center wow fadeIn" data-wow-delay="0.2s"
            style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
            选择SaaS方式</h2>

          <!--Grid row-->
          <div class="row features-small mb-5">

            <!--Grid column-->
            <div class="col-md-12 col-lg-6">

              <!--Grid row-->
              <div class="row mb-5">
                <div class="col-2">
                  <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light">
                    <fa-icon [icon]="['fas', 'tablet-alt']" class="fas text-secondary"></fa-icon>
                  </a>
                </div>
                <div class="col-9 pl-5">
                  <h4 class="feature-title white-text">Fully responsive</h4>
                  <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores.
                  </p>
                </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row mb-5">
                <div class="col-2">
                  <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light">
                    <fa-icon [icon]="['fas', 'level-up-alt']" class="fas text-secondary"></fa-icon>
                  </a>
                </div>
                <div class="col-9 pl-5">
                  <h4 class="feature-title white-text">Frequent updates</h4>
                  <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores.
                  </p>
                </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row mb-5">
                <div class="col-2">
                  <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light">
                    <fa-icon [icon]="['fas', 'phone']" class="fas text-secondary"></fa-icon>
                  </a>
                </div>
                <div class="col-9 pl-5">
                  <h4 class="feature-title white-text">Technical support</h4>
                  <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                    nam.
                  </p>
                </div>
              </div>
              <!--Grid row-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-12 col-lg-6">

              <!--Grid row-->
              <div class="row mb-5">
                <div class="col-2">
                  <a type="button" class=" btn-floating white btn-lg my-0 waves-effect waves-light">
                    <fa-icon [icon]="['fas', 'object-group']" class="fas text-secondary"></fa-icon>
                  </a>
                </div>
                <div class="col-9 pl-5">
                  <h4 class="feature-title white-text">Editable layout</h4>
                  <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                    nam.
                  </p>
                </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row mb-5">
                <div class="col-2">
                  <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light">
                    <fa-icon [icon]="['fas', 'rocket']" class="fas text-secondary"></fa-icon>
                  </a>
                </div>
                <div class="col-9 pl-5">
                  <h4 class="feature-title white-text">Fast and powerful</h4>
                  <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                    nam.
                  </p>
                </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row mb-5">
                <div class="col-2">
                  <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light">
                    <fa-icon [icon]="['fas', 'cloud-upload-alt']" class="fas text-secondary"></fa-icon>
                  </a>
                </div>
                <div class="col-9 pl-5">
                  <h4 class="feature-title white-text">Cloud storage</h4>
                  <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                    nam.
                  </p>
                </div>
              </div>
              <!--Grid row-->

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </section>
        <!--/Section: Features v.4-->
      </div>
    </div>
  </div>
  <div class="container-fluid" style="background-color: #f4f4fa">
    <div class="container py-4">

      <!--Section: Services-->
      <section id="services" class="section mt-3 mb-3 pb-3">

        <!-- Section heading -->
        <h3 class="text-center title my-5 pt-4 pb-5 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s"
          style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
          <strong>Easy to get started</strong>
        </h3>

        <!-- First row -->
        <div class="row wow fadeIn" data-wow-delay="0.4s"
          style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

          <!-- First column -->
          <div class="col-md-4 mb-5 text-center">

            <!--Panel-->
            <div class="card card-body text-left white hoverable">
              <p class="feature-title title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                <fa-icon [icon]="['fas', 'square']" class="fas text-secondary mr-2"></fa-icon>
                <strong>01 Create Account</strong>
              </p>
              <p class="grey-text font-small mx-4">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente earu
                proident.
              </p>
            </div>
            <!--/.Panel-->

          </div>
          <!-- /First column -->

          <!-- Second column -->
          <div class="col-md-4 mb-5 text-center">

            <!--Panel-->
            <div class="card card-body text-left white hoverable">
              <p class="feature-title title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                <fa-icon [icon]="['fas', 'square']" class="fas text-secondary mr-2"></fa-icon>
                <strong>02 Select Plan</strong>
              </p>
              <p class="grey-text font-small mx-4">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente earu
                proident.
              </p>
            </div>
            <!--/.Panel-->

          </div>
          <!-- /.Second column -->

          <!-- Third column -->
          <div class="col-md-4 mb-5 text-center">

            <!--Panel-->
            <div class="card card-body text-left white hoverable">
              <p class="feature-title title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                <fa-icon [icon]="['fas', 'square']" class="fas text-secondary mr-2"></fa-icon>
                <strong>03 Assign tasks</strong>
              </p>
              <p class="grey-text font-small mx-4">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente earu
                proident.
              </p>
            </div>
            <!--/.Panel-->

          </div>
          <!-- /.Third column -->

        </div>
        <!-- /.First row -->

      </section>
      <!--/Section: Services-->

    </div>
  </div>
  <div class="container">

    <!-- Section: Team v.1 -->
    <section class="section team-section text-center my-5" id="team">

      <!-- Section heading -->
      <h3 class="text-center title my-5 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s"
        style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
        <strong>True words from our customers</strong>
      </h3>
      <!-- Section description -->
      <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit,
        error amet numquam iure provident voluptate
        esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.
      </p>

      <div class="row mt-5 pt-5">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-5">

          <!--Card-->
          <div class="card testimonial-card">

            <!--Background color-->
            <div class="card-up pink-gradient"></div>

            <!--Avatar-->
            <div class="avatar mx-auto white">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-circle img-responsive">
            </div>

            <div class="card-body">
              <!--Name-->
              <h4 class="mt-1">
                <strong>John Doe</strong>
              </h4>
              <hr>
              <!--Quotation-->
              <p class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci.</p>
            </div>

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-5">

          <!--Card-->
          <div class="card testimonial-card">

            <!--Background color-->
            <div class="card-up pink-gradient">
            </div>

            <!--Avatar-->
            <div class="avatar mx-auto white">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg"
                class="rounded-circle img-responsive">
            </div>

            <div class="card-body">
              <!--Name-->
              <h4 class="mt-1">
                <strong>Anna Aston</strong>
              </h4>
              <hr>
              <!--Quotation-->
              <p class="dark-grey-text">Neque cupiditate assumenda in maiores repudiandae mollitia architecto.</p>
            </div>

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-5">

          <!--Card-->
          <div class="card testimonial-card">

            <!--Background color-->
            <div class="card-up  pink-gradient"></div>

            <!--Avatar-->
            <div class="avatar mx-auto white">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg"
                class="rounded-circle img-responsive">
            </div>

            <div class="card-body">
              <!--Name-->
              <h4 class="mt-1">
                <strong>Maria Kate</strong>
              </h4>
              <hr>
              <!--Quotation-->
              <p class="dark-grey-text">Delectus impedit saepe officiis ab aliquam repellat, rem totam unde ducimus.</p>
            </div>

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

      </div>

    </section>
    <!-- Section: Team v.1 -->

  </div>
  <div class="container">
    <section id="contact" class="section text-center my-5">

      <!-- Section heading -->
      <h3 class="text-center title my-5 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s"
        style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
        <strong>Contact us</strong>
      </h3>

      <!-- Section sescription -->
      <p class="grey-text w-responsive mx-auto mb-5 wow fadeIn" data-wow-delay="0.2s"
        style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate
        esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.
      </p>

      <div class="row wow fadeIn" data-wow-delay="0.4s"
        style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

        <!-- Grid column -->
        <div class="col-md-8 col-lg-9">
          <form>
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <div class="md-form mb-0">
                    <input type="text" id="form41" class="form-control">
                    <label for="form41" class="">Your name</label>
                  </div>
                </div>
              </div>

              <!-- Grid column -->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <div class="md-form mb-0">
                    <input type="text" id="form52" class="form-control">
                    <label for="form52" class="">Your email</label>
                  </div>
                </div>
              </div>
            </div>
            <!-- Grid row -->

            <!-- Grid row -->
            <div class="row">
              <div class="col-md-12">
                <div class="md-form mb-0">
                  <input type="text" id="form51" class="form-control">
                  <label for="form51" class="">Subject</label>
                </div>
              </div>
            </div>
            <!-- Grid row -->

            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-12">

                <div class="md-form mb-0">
                  <textarea type="text" id="form76" class="md-textarea form-control" rows="3"></textarea>
                  <label for="form76">Your message</label>
                </div>

              </div>
            </div>
            <!-- Grid row -->
          </form>

          <div class="text-center text-md-left mb-5 mt-4">
            <a class="btn btn-rounded btn-secondary font-weight-bold waves-effect waves-light">Send</a>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3">
          <ul class="list-unstyled contact-icons float-md-right">
            <li>
              <fa-icon [icon]="['fas', 'map-marker-alt']" class="title fa-2x"></fa-icon>
              <p>世茂52+，南京雨花</p>
            </li>

            <li>
              <fa-icon [icon]="['fas', 'phone']" class="title fa-2x"></fa-icon>
              <p>+86 158 5065 9736</p>
            </li>

            <li>
              <fa-icon [icon]="['fas', 'envelope']" class="title fa-2x"></fa-icon>
              <p>enterprisemicro@outlook.com</p>
            </li>
          </ul>
        </div>
        <!-- Grid column -->

      </div>
    </section>
    <!-- Section: Contact v.2 -->

  </div>
</main>