<header class="home-lp">
  <!--Intro Section-->
  <div id="home" class="view jarallax" data-jarallax='{"speed": 0.2}'
    style="background-image: url(assets/img/em-01.jpg); background-attachment: fixed; background-repeat: no-repeat; background-size: cover; background-position: center center; z-index: 0;">
    <div class="mask rgba-black-strong">
      <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row smooth-scroll">
          <div class="col-md-12 white-text text-center">
            <div class="wow fadeInDown" data-wow-delay="0.2s"
              style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.2s;">
              <h2 class="display-3 font-weight-bold mb-2">一栈式Web方案</h2>
              <hr class="hr-light">
              <h3 class="subtext-header mt-4 mb-5">提供各种Web SaaS服务，轻松应对各类Web使用难题</h3>
            </div>
            <a [ngx-scroll-to]="'#events'"
              class="btn btn-white text-secondary btn-rounded font-weight-bold wow fadeInLeft waves-effect waves-light"
              data-wow-delay="0.2s"
              style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.2s;">开始试用</a>
            <a [ngx-scroll-to]="'#courses'" ngx-scroll-to-offset=""
              class="btn btn-secondary btn-rounded font-weight-bold wow fadeInRight waves-effect waves-light"
              data-wow-delay="0.2s"
              style="visibility: visible; animation-name: fadeInRight; animation-delay: 0.2s;">查看更多</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="home-lp">
  <div class="container">

    <!-- Section: Features v.4 -->
    <section id="features" class="section feature-box text-center my-5">

      <!-- Section heading -->
      <h2 class="title font-weight-bold my-5 wow fadeIn" data-wow-delay="0.2s"
        style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
        <strong>功能服务</strong>
      </h2>

      <!-- Section sescription -->
      <p class="m-responsive mx-auto mb-5 wow fadeIn" data-wow-delay="0.2s"
        style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
        采用当前最新的Web前端语言和框架，运用全球最流行的Web设计布局方案，打造高颜值、高效率、自适应的网站
      </p>

      <!--Grid row-->
      <div class="row features wow fadeIn" data-wow-delay="0.2s"
        style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">

        <!--Grid column-->
        <div class="col-lg-4 text-center">
          <div class="icon-area">
            <div class="circle-icon">
              <fa-icon [icon]="['fas', 'cogs']" [classes]="['circle-round', 'text-secondary']"></fa-icon>
            </div>
            <br>
            <h5 class="dark-grey-text font-weight-bold mt-2">用户定制</h5>
            <div class="mt-1">
              <p class="mx-3 grey-text">针对客户需求进行Web方案设计、网站开发和上线，收集客户反馈，快速迭代更新</p>
            </div>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 text-center">
          <div class="icon-area">
            <div class="circle-icon">
              <fa-icon [icon]="['fas', 'book']" [classes]="['circle-round', 'text-secondary']"></fa-icon>
            </div>
            <br>
            <h5 class="dark-grey-text font-weight-bold mt-2">简单易用</h5>
            <div class="mt-1">
              <p class="mx-3 grey-text">敏捷网站设计，大量精品网站模版，覆盖各类行业，无忧网站运维</p>
            </div>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 text-center mb-4">
          <div class="icon-area">
            <div class="circle-icon">
              <fa-icon [icon]="['fas', 'users']" [classes]="['circle-round', 'text-secondary']"></fa-icon>
            </div>
            <br>
            <h5 class="dark-grey-text font-weight-bold mt-2">免费支持</h5>
            <div class="mt-1">
              <p class="mx-3 grey-text">专业团队提供免费7x24技术支持，迅速响应客户问题</p>
            </div>
          </div>
        </div>
        <!--Grid column-->

      </div>
      <!--/First row-->

    </section>
    <!-- Section: Features v.4 -->

    <hr>

    <!-- Section: About -->
    <section id="about" class="section about mt-5 mb-5 py-3 wow fadeIn" data-wow-delay="0.2s"
      style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">

      <!-- Grid row -->
      <div class="row pt-2 mt-lg-5">

        <!-- Grid column -->
        <div class="col-lg-6 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s"
          style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
          <!-- Image -->
          <img src="assets/img/em-02.png" class="img-fluid rounded" alt="My photo">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-6 ml-auto col-md-12 wow fadeIn" data-wow-delay="0.4s"
          style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

          <!-- Secion heading -->
          <h2 class="mb-5 title font-weight-bold wow fadeIn" data-wow-delay="0.2s"
            style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
            <strong>构建品牌</strong>
          </h2>

          <!-- Description -->
          <p align="justify" class="">建设精美、流行的Web主页，注入企业品牌的专有气质，在互联网世界里确立品牌位置
            高效构建Web应用，辅助品牌业务需求创新，推进品牌互联网+转型</p>
          <p class="grey-text">
            <fa-icon [icon]="['fas', 'long-arrow-alt-right']" class="fas text-secondary mr-2"></fa-icon> 设计品牌元素
          </p>
          <p class="grey-text">
            <fa-icon [icon]="['fas', 'long-arrow-alt-right']" class="fas text-secondary mr-2"></fa-icon> 创造品牌主页
          </p>
          <p class="grey-text">
            <fa-icon [icon]="['fas', 'long-arrow-alt-right']" class="fas text-secondary mr-2"></fa-icon> 优化网站搜索排名
          </p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!-- Section: About -->

    <hr>

    <!-- Section: About -->
    <section id="about" class="section about mt-5 mb-5 py-3 wow fadeIn" data-wow-delay="0.2s"
      style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">

      <!-- Grid row -->
      <div class="row pt-2 mt-lg-5">

        <!-- Grid column -->
        <div class="col-lg-6 col-md-12 mt-lg-5 mr-auto wow fadeIn" data-wow-delay="0.4s"
          style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

          <!-- Secion heading -->
          <h2 class="mb-5 title font-weight-bold wow fadeIn" data-wow-delay="0.2s"
            style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
            <strong>轻松定制</strong>
          </h2>

          <!-- Description -->
          <p align="justify" class="">基于客户对网站的不同需求，提供更合适的Web架构方案，有效降低网站的开发运维难度和整体IT成本，并保障网站的安全性和稳定性，节约大量的人力和资金投入</p>
          <p align="justify" class="">提供丰富网站设计模版，覆盖多个行业，包括软件开发、旅游、教育等，适用于各类网站开发需求</p>
          <p align="justify" class="">资深建站专家在线，一对一精准建站咨询服务，提供网站管家服务，全方位安全保障网站业务可用性</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-5 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s"
          style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
          <!-- Image -->
          <img src="assets/img/em-03.png" class="img-fluid rounded" alt="My photo">
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!-- Section: About -->

    <hr>

    <!--Section: Pricing v.5-->
    <section class="text-center my-5">

      <!--Section heading-->
      <h2 class="title font-weight-bold my-5 wow fadeIn" data-wow-delay="0.2s"
        style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
        <strong>网站解决方案</strong>
      </h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mt-5 mb-5">
          <!--Card-->
          <div class="pricing-card card">

            <!--Content-->
            <div class="card-body hoverable">
              <div>
                <h5 class="font-weight-bold mt-3">标准方案</h5>
                <div class="mt-1">
                  <p class="mx-5 grey-text">贴心建站服务，覆盖全行业，先上线后收费</p>
                </div>
              </div>
              <ul class="list-unstyled striped title darker-striped">
                <li>
                  <div class="my-5">
                    <h6 class="text-left font-weight-bold mt-3">企业单位官网</h6>
                    <p class="text-left grey-text">管家式服务，安全证书，免费备案</p>
                  </div>
                </li>
                <li>
                  <div class="my-5">
                    <h6 class="text-left font-weight-bold mt-3">精美建站模版</h6>
                    <p class="text-left grey-text">丰富建站模版，覆盖各类行业</p>
                  </div>
                </li>
                <li>
                  <div class="mt-5">
                    <h6 class="text-left font-weight-bold mt-3">小程序</h6>
                    <p class="text-left grey-text">多种行业方案，获利移动流量</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mt-5 mb-5">

          <!-- Card -->
          <div class="pricing-card card card-image hoverable" style="background-image: url('assets/img/em-04.jpg');">
            <!-- Content -->
            <!--Content-->
            <div class="card-body text-white rgba-pink-light">
              <div>
                <h5 class="font-weight-bold mt-3">进阶方案</h5>
                <div class="mt-1">
                  <p class="mx-5 text-white-90">网站部署和运行在云主机，可动态扩展</p>
                </div>
              </div>
              <ul class="list-unstyled striped">

                <li>
                  <div class="my-5">
                    <h6 class="text-left font-weight-bold mt-3">网站弹性扩展</h6>
                    <p class="text-left text-white-90">监测网站业务流量，动态扩展云主机</p>
                  </div>
                </li>
                <li>
                  <div class="my-5">
                    <h6 class="text-left font-weight-bold mt-3">网站安全护航</h6>
                    <p class="text-left text-white-90">注入安全防护技术，提高网站高可用性</p>
                  </div>
                </li>
                <li>
                  <div class="mt-5">
                    <h6 class="text-left font-weight-bold mt-3">网站HTTPs全覆盖</h6>
                    <p class="text-left text-white-90">监管证书，网站使用TLS加密通信</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!--Card-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mt-5 mb-5">

          <!--Card-->
          <div class="pricing-card card hoverable">

            <!--Content-->
            <div class="card-body">
              <h5 class="font-weight-bold mt-3">通用方案</h5>
              <div class="mt-1">
                <p class="mx-5 grey-text">网站后端配套服务，全部方案运行在云端</p>
              </div>
              <ul class="list-unstyled striped title darker-striped">
                <li>
                  <div class="my-5">
                    <h6 class="text-left font-weight-bold mt-3">网站认证登录</h6>
                    <p class="text-left grey-text">安全方便，权限管理，支持授权单点登录</p>
                  </div>
                </li>
                <li>
                  <div class="my-5">
                    <h6 class="text-left font-weight-bold mt-3">网站通知服务</h6>
                    <p class="text-left grey-text">支持短信、邮件方式，即时高效</p>
                  </div>
                </li>
                <li>
                  <div class="mt-5">
                    <h6 class="text-left font-weight-bold mt-3">网站多云支持</h6>
                    <p class="text-left grey-text">Azure、AWS、阿里云、腾讯云</p>
                  </div>
                </li>
              </ul>
            </div>

          </div>
          <!--Card-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!--Section: Pricing v.5-->

  </div>
  <div class="streak streak-photo streak-md" style="background-image: url('assets/img/em-05.jpg');">
    <div class="flex-center view rgba-purple-slight">
      <div class="container py-3">

        <!--Section: Features v.4-->
        <section class="section feature-box wow fadeIn" data-wow-delay="0.2s"
          style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">

          <!--Section heading-->
          <h2 class="py-5 my-5 white-text font-weight-bold text-center wow fadeIn" data-wow-delay="0.2s"
            style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
            选择SaaS方式</h2>

          <!--Grid row-->
          <div class="row features-small mb-5">

            <!--Grid column-->
            <div class="col-md-12 col-lg-6">

              <!--Grid row-->
              <div class="row mb-5">
                <div class="col-2">
                  <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light">
                    <fa-icon [icon]="['fas', 'tablet-alt']" class="fas text-secondary"></fa-icon>
                  </a>
                </div>
                <div class="col-9 pl-5">
                  <h4 class="feature-title white-text">自动适应</h4>
                  <p class="white-text">页面自动响应各种屏幕大小，三站合一
                  </p>
                </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row mb-5">
                <div class="col-2">
                  <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light">
                    <fa-icon [icon]="['fas', 'level-up-alt']" class="fas text-secondary"></fa-icon>
                  </a>
                </div>
                <div class="col-9 pl-5">
                  <h4 class="feature-title white-text">快速更新</h4>
                  <p class="white-text">敏捷更新，迅速响应变化
                  </p>
                </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row mb-5">
                <div class="col-2">
                  <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light">
                    <fa-icon [icon]="['fas', 'phone']" class="fas text-secondary"></fa-icon>
                  </a>
                </div>
                <div class="col-9 pl-5">
                  <h4 class="feature-title white-text">技术支持</h4>
                  <p class="white-text">多渠道技术支持，即时应对状况
                  </p>
                </div>
              </div>
              <!--Grid row-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-12 col-lg-6">

              <!--Grid row-->
              <div class="row mb-5">
                <div class="col-2">
                  <a type="button" class=" btn-floating white btn-lg my-0 waves-effect waves-light">
                    <fa-icon [icon]="['fas', 'object-group']" class="fas text-secondary"></fa-icon>
                  </a>
                </div>
                <div class="col-9 pl-5">
                  <h4 class="feature-title white-text">动态页面</h4>
                  <p class="white-text">动态展示网站内容
                  </p>
                </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row mb-5">
                <div class="col-2">
                  <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light">
                    <fa-icon [icon]="['fas', 'rocket']" class="fas text-secondary"></fa-icon>
                  </a>
                </div>
                <div class="col-9 pl-5">
                  <h4 class="feature-title white-text">性能强悍</h4>
                  <p class="white-text">响应速度快，延时低，安全可靠
                  </p>
                </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row mb-5">
                <div class="col-2">
                  <a type="button" class="btn-floating white btn-lg my-0 waves-effect waves-light">
                    <fa-icon [icon]="['fas', 'cloud-upload-alt']" class="fas text-secondary"></fa-icon>
                  </a>
                </div>
                <div class="col-9 pl-5">
                  <h4 class="feature-title white-text">云端存储</h4>
                  <p class="white-text">数据存储在云端，多重备份机制
                  </p>
                </div>
              </div>
              <!--Grid row-->

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </section>
        <!--/Section: Features v.4-->
      </div>
    </div>
  </div>
  <div class="container-fluid" style="background-color: #f4f4fa">
    <div class="container py-4">

      <!--Section: Services-->
      <section id="services" class="section mt-3 mb-3 pb-3">

        <!-- Section heading -->
        <h3 class="text-center title my-5 pt-4 pb-5 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s"
          style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
          <strong>快速建站指南</strong>
        </h3>

        <mat-horizontal-stepper [linear]="'false'" #stepper>
          <ng-template matStepperIcon="edit" let-index="index">
            {{index + 1}}
          </ng-template>

          <ng-template matStepperIcon="done" let-index="index">
            {{index + 1}}
          </ng-template>

          <!-- Custom icon with a context variable. -->
          <ng-template matStepperIcon="number" let-index="index">
            {{index + 1}}
          </ng-template>
          <mat-step [stepControl]="firstFormGroup">
            <ng-template matStepLabel>网站开发</ng-template>
            <div class="row wow fadeIn mt-5" data-wow-delay="0.4s"
              style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

              <!-- First column -->
              <div class="col-md-4 mb-5 text-center">

                <!--Panel-->
                <div class="card card-body text-left white hoverable">
                  <p class="feature-title title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                    <fa-icon [icon]="['fas', 'square']" class="fas text-secondary mr-2"></fa-icon>
                    <strong>企业官网</strong>
                  </p>
                  <p class="p-circle grey-text font-small mx-4 hide-long-text">量身定制，一对一终身服务
                  </p>
                  <p class="p-circle grey-text font-small mx-4 hide-long-text">针对行业场景，深耕设计
                  </p>
                </div>
                <!--/.Panel-->
              </div>
              <!-- /First column -->

              <!-- Second column -->
              <div class="col-md-4 mb-5 text-center">

                <!--Panel-->
                <div class="card card-body text-left white hoverable">
                  <p class="feature-title title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                    <fa-icon [icon]="['fas', 'square']" class="fas text-secondary mr-2"></fa-icon>
                    <strong>网站模版</strong>
                  </p>
                  <p class="p-circle grey-text font-small mx-4 hide-long-text">海内外网站，精品模版
                  </p>
                  <p class="p-circle grey-text font-small mx-4 hide-long-text">持续更新，不落潮流
                  </p>
                </div>
                <!--/.Panel-->

              </div>
              <!-- /.Second column -->

              <!-- Third column -->
              <div class="col-md-4 mb-5 text-center">

                <!--Panel-->
                <div class="card card-body text-left white hoverable">
                  <p class="feature-title title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                    <fa-icon [icon]="['fas', 'square']" class="fas text-secondary mr-2"></fa-icon>
                    <strong>定制方案</strong>
                  </p>
                  <p class="p-circle grey-text font-small mx-4 hide-long-text">卓越设计，应对复杂需求
                  </p>
                  <p class="p-circle grey-text font-small mx-4 hide-long-text">保障网站高并发，高可用
                  </p>
                </div>
                <!--/.Panel-->

              </div>
              <!-- /.Third column -->

            </div>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <ng-template matStepLabel>域名申请</ng-template>
            <div class="row wow fadeIn mt-5" data-wow-delay="0.4s"
            style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

            <!-- First column -->
            <div class="col-md-4 mb-5 text-center">

              <!--Panel-->
              <div class="card card-body text-left white hoverable">
                <p class="feature-title title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                  <fa-icon [icon]="['fas', 'square']" class="fas text-secondary mr-2"></fa-icon>
                  <strong>域名注册</strong>
                </p>
                <p class="p-circle grey-text font-small mx-4 hide-long-text">GoDaddy、Name
                </p>
                <p class="p-circle grey-text font-small mx-4 hide-long-text">网站共享已注册域名
                </p>
              </div>
              <!--/.Panel-->
            </div>
            <!-- /First column -->

            <!-- Second column -->
            <div class="col-md-4 mb-5 text-center">

              <!--Panel-->
              <div class="card card-body text-left white hoverable">
                <p class="feature-title title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                  <fa-icon [icon]="['fas', 'square']" class="fas text-secondary mr-2"></fa-icon>
                  <strong>域名解析</strong>
                </p>
                <p class="p-circle grey-text font-small mx-4 hide-long-text">IP变更，即时生效
                </p>
                <p class="p-circle grey-text font-small mx-4 hide-long-text">防御DNS攻击
                </p>
              </div>
              <!--/.Panel-->

            </div>
            <!-- /.Second column -->

            <!-- Third column -->
            <div class="col-md-4 mb-5 text-center">

              <!--Panel-->
              <div class="card card-body text-left white hoverable">
                <p class="feature-title title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                  <fa-icon [icon]="['fas', 'square']" class="fas text-secondary mr-2"></fa-icon>
                  <strong>域名管理</strong>
                </p>
                <p class="p-circle grey-text font-small mx-4 hide-long-text">域名到期提醒
                </p>
                <p class="p-circle grey-text font-small mx-4 hide-long-text">代购域名
                </p>
              </div>
              <!--/.Panel-->

            </div>
            <!-- /.Third column -->

          </div>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <ng-template matStepLabel>选云上线</ng-template>
            <div class="row wow fadeIn mt-5" data-wow-delay="0.4s"
              style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

              <!-- First column -->
              <div class="col-md-4 mb-5 text-center">

                <!--Panel-->
                <div class="card card-body text-left white hoverable">
                  <p class="feature-title title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                    <fa-icon [icon]="['fas', 'square']" class="fas text-secondary mr-2"></fa-icon>
                    <strong>云端厂商</strong>
                  </p>
                  <p class="p-circle grey-text font-small mx-4 hide-long-text">AWS，Azure
                  </p>
                  <p class="p-circle grey-text font-small mx-4 hide-long-text">阿里云，腾讯云，华为云
                  </p>
                </div>
                <!--/.Panel-->
              </div>
              <!-- /First column -->

              <!-- Second column -->
              <div class="col-md-4 mb-5 text-center">

                <!--Panel-->
                <div class="card card-body text-left white hoverable">
                  <p class="feature-title title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                    <fa-icon [icon]="['fas', 'square']" class="fas text-secondary mr-2"></fa-icon>
                    <strong>云服务器</strong>
                  </p>
                  <p class="p-circle grey-text font-small mx-4 hide-long-text">ECS，按使用收费
                  </p>
                  <p class="p-circle grey-text font-small mx-4 hide-long-text">独占机器，高性能
                  </p>
                </div>
                <!--/.Panel-->

              </div>
              <!-- /.Second column -->

              <!-- Third column -->
              <div class="col-md-4 mb-5 text-center">

                <!--Panel-->
                <div class="card card-body text-left white hoverable">
                  <p class="feature-title title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                    <fa-icon [icon]="['fas', 'square']" class="fas text-secondary mr-2"></fa-icon>
                    <strong>主机位置</strong>
                  </p>
                  <p class="p-circle grey-text font-small mx-4 hide-long-text">国内、国外均支持
                  </p>
                  <p class="p-circle grey-text font-small mx-4 hide-long-text">多区域备份
                  </p>
                </div>
                <!--/.Panel-->

              </div>
              <!-- /.Third column -->

            </div>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <ng-template matStepLabel>备案合法</ng-template>
            <div class="row wow fadeIn mt-5" data-wow-delay="0.4s"
              style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

                  <!-- First column -->
              <div class="col-md-4 mb-5 text-center">

                  <!--Panel-->
                  <div class="card card-body text-left white hoverable">
                    <p class="feature-title title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                      <fa-icon [icon]="['fas', 'square']" class="fas text-secondary mr-2"></fa-icon>
                      <strong>备案服务</strong>
                    </p>
                    <p class="p-circle grey-text font-small mx-4 hide-long-text">网站安全备案，快速便捷
                    </p>
                    <p class="p-circle grey-text font-small mx-4 hide-long-text">网站实名绑定
                    </p>
                  </div>
                  <!--/.Panel-->
                </div>
                <!-- /First column -->

            </div>
          </mat-step>
        </mat-horizontal-stepper>

      </section>
      <!--/Section: Services-->

    </div>
  </div>
  <div class="container">

    <!-- Section: Team v.1 -->
    <section class="section team-section text-center my-5" id="team">

      <!-- Section heading -->
      <h3 class="text-center title my-5 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s"
        style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
        <strong>团队伙伴</strong>
      </h3>
      <!-- Section description -->
      <p class="grey-text w-responsive mx-auto mb-5">
      </p>

      <div class="row mt-5 pt-5">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-5">

          <!--Card-->
          <div class="card testimonial-card hoverable">

            <!--Background color-->
            <div class="card-up pink-gradient"></div>

            <!--Avatar-->
            <div class="avatar mx-auto white">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-circle img-responsive">
            </div>

            <div class="card-body">
                <h5 class="font-weight-bold title">麦迪</h5>

                <p class="font-small grey-text">网站开发工程师</p>
    
                <ul class="list-unstyled">
                  <!-- Facebook -->
                  <a class="p-2 m-2 fa-lg fb-ic">
                      <fa-icon [icon]="['fab', 'weixin']" class="fas text-secondary mr-2"></fa-icon>
                  </a>
                  <!-- Github -->
                  <a class="p-2 m-2 fa-lg ins-ic">
                      <fa-icon [icon]="['fab', 'github-alt']" class="fas text-secondary mr-2"></fa-icon>
                  </a>
                </ul>
            </div>

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-5">

          <!--Card-->
          <div class="card testimonial-card hoverable">

            <!--Background color-->
            <div class="card-up pink-gradient">
            </div>

            <!--Avatar-->
            <div class="avatar mx-auto white">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg"
                class="rounded-circle img-responsive">
            </div>

            <div class="card-body">
                <h5 class="font-weight-bold title">Penny</h5>

                <p class="font-small grey-text">视觉设计师</p>
    
                <ul class="list-unstyled">
                  <!-- weixin -->
                  <a class="p-2 m-2 fa-lg fb-ic">
                      <fa-icon [icon]="['fab', 'weixin']" class="fas text-secondary mr-2"></fa-icon>
                  </a>
                  <!-- weixin -->
                  <a class="p-2 m-2 fa-lg fb-ic">
                      <fa-icon [icon]="['fab', 'weibo']" class="fas text-secondary mr-2"></fa-icon>
                  </a>
                  <!-- Github -->
                  <a class="p-2 m-2 fa-lg ins-ic">
                      <fa-icon [icon]="['fab', 'github-alt']" class="fas text-secondary mr-2"></fa-icon>
                  </a>
                </ul>
            </div>

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-5">

          <!--Card-->
          <div class="card testimonial-card hoverable">

            <!--Background color-->
            <div class="card-up  pink-gradient"></div>

            <!--Avatar-->
            <div class="avatar mx-auto white">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg"
                class="rounded-circle img-responsive">
            </div>

            <div class="card-body">
                <h5 class="font-weight-bold title">Sam</h5>

                <p class="font-small grey-text">运维工程师</p>
    
                <ul class="list-unstyled">
                  <!-- weixin -->
                  <a class="p-2 m-2 fa-lg fb-ic">
                      <fa-icon [icon]="['fab', 'weixin']" class="fas text-secondary mr-2"></fa-icon>
                  </a>
                  <!-- weixin -->
                  <a class="p-2 m-2 fa-lg fb-ic">
                      <fa-icon [icon]="['fab', 'weibo']" class="fas text-secondary mr-2"></fa-icon>
                  </a>
                  <!-- Github -->
                  <a class="p-2 m-2 fa-lg ins-ic">
                      <fa-icon [icon]="['fab', 'github-alt']" class="fas text-secondary mr-2"></fa-icon>
                  </a>
                </ul>
            </div>

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

      </div>

    </section>
    <!-- Section: Team v.1 -->

  </div>
</main>